#install.sh
*/
.ICEauthority
.appcfg_nag
.apport-ignore.xml
.bash_history
.bash_logout
.conkylines
.conkylines_c110
.dircolors
.eclimrc
.gitconfig
.gksu.lock
.install4j
.lesshst
.mysql_history
.node_repl_history
.npmrc
.nvidia-settings-rc
.pam_environment
.profile
.pulse-cookie
.pylint-gui-history
.pylintrcbak
.python_history
.steampath
.steampid
.sudo_as_admin_successful
.vim_project.sh
.viminfo
.wget-hsts
.xinputrc
.ycm_extra_conf.pyc
a.c
a.cpp
a.html
a.js
a.lua
a.sh
blog
bundle
datastruct.cpp
workbench.xmi
.fakevimrc
.pylintrc
.ycm_extra_confbake
.z
.zcompdump
.zcompdump-localhost-5.1.1
.zsh-update
.zsh_history
.zshrc
a.js
app.yaml
a.qml
a.qmlc
a.sh
awesome-python3-webapp
blog
cache
calendarwidget
Desktop
Development
Download
Downloads
gae
game
genymotion
google_appengine
hexo
jedi-vim
Music
Pictures
Public
python
qt
QT
temp_config
tmp
Videos
VirtualBox VMs
workspace
XX-Net
